<h2>Listado de productos</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>PRECIO</th>
        <th colspan="2">ACCIONES</th>
    </tr>
    <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td><a>EDITAR</a></td>
            <td><a routerLink="/eliminar/{{producto.id}}">ELIMINAR</a></td>
        </tr>
    </tbody>
    
</table>
