<div>
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" formControlName="nombre">
        <p *ngIf="formulario.controls['nombre'].invalid && formulario.controls['nombre'].touched">
          El campo nombre es obligatorio y debe tener al menos 5 caracteres.
        </p>
    
        <label for="precio">Precio: </label>
        <input type="number" id="precio" step="0.01" formControlName="precio">
        <p *ngIf="formulario.controls['precio'].invalid && formulario.controls['precio'].touched">
          El campo precio es obligatorio y debe ser mayor a 0.
        </p>
    
        <input type="submit" [disabled]="formulario.invalid" value="Crear Producto">
      </form>
</div>